@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #BFCCF7;
    height: 100vh;
    
}
main{
    position: relative;
    

}
form>input{
    display:block;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,2%);
    padding: 20px;
    text-align: center;

    width: 455px;
    height: 595px;
    background-color: aliceblue;
    border-radius: 10px;

    box-shadow:0px 0px 3px 2px #1615152e;

}
#iwelcome{
    background-color: #44CEE3;
}

#iformulario{
    background-color: rgb(41, 46, 51);
    width: 100%;
}
#iformulario h1{
    size: 36px;
    margin: 16px 0;
}
.campo{
    margin: 36px;
}
.campo>input{
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100%;
}
.campo>input::placeholder{
    color: lightslategray;
}
.campo>label>i{
    position: absolute;
    right: 69px;
    top: 21%;
    transform: translateY(358%);
    font-size: 20px;
    color:lightslategray ;
}
#iilock{
    position: absolute;
    right: 69px;
    top: 21%;
    transform: translateY(720%);
    font-size: 20px;
    color:lightslategray ;    
}

