@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #BFCCF7;
    height: 100vh;
    
}
main{
    position: relative;
}
#container{
    #container {
    position: relative;
    width: 455px;
    height: 595px;
}

}
form>input{
    display:block;
}

section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,2%);
    text-align: center;

    width: 455px;
    height: 595px;
    border-radius: 10px;

}
#iwelcome {
    position: absolute;
    top: 12px;                /* sobe o cartão */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 35%;
    background-color: #44CEE3;
    padding: 15px;
    border-radius: 10px 10px 50% 50%; /* meia-lua */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24);
    z-index: 2;                /* fica À FRENTE */
}

#iwelcome > h3{
    padding-top: 15px;
}

#iformulario {
    position: relative;
    top: 155px;
    background-color: rgb(245, 247, 248);
    width: 100%;
    padding: 70px 10px 10px;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.151);
}
#iformulario h1{
    size: 36px;
    margin: 16px 0;
}
.campo{
    margin: 36px;
}
.campo>input{
    border-radius: 5px;
    border: none;
    padding: 10px;
    width: 100%;
    box-shadow: 1px .5px 2px rgba(0, 0, 0, 0.253);
}
.campo>input::placeholder{
    color: lightslategray;
}
.campo>label>i{
    position: absolute;
    right: 69px;
    top:25%;
    transform: translateY(358%);
    font-size: 20px;
    color:lightslategray ;
}
#iilock{
    position: absolute;
    right: 69px;
    top: 25%;
    transform: translateY(720%);
    font-size: 20px;
    color:lightslategray ;    
}
.bnt{
    width: 80%;
    padding: 5px 0px 5px 0px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    margin-top: 10px;
}
.bnt:hover{
    background-color: #44CEE3;
    transition: 1s;
}
#bnt1:hover{
    background-color: #BFCCF7;
}
a{
    text-decoration: none;
}