@charset "uft 8";

@media screen and (min-width: 768px) and (max-width:1024px) {
   body{
    background-image: linear-gradient(to top, #5f2c82, #49a09d);
   }
    #login{
        width: 90vw;
    }
    #imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 70%;
    }
}
@media screen and (min-width:900px) {
    body{
    background-image: linear-gradient(to top, #5f2c82, #49a09d);
   }
    #login{
        width: 940px;
    }
    #imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    #formulario{
        float: right;
        width: 50%;
        height: 100%;        
    }
}