@charset "uft 8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body, html{
    height: 100vh;
    width: 100vw;
    background-color: #5f2c82;
    
}
main{
    height: 100vh;
    width: 100vw;

    position: relative;
}
#login{
    background-color: white;
    
    width: 250px;
    height: 500px;
    border-radius: 20px;

    position:absolute ;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
    transition: width .3s, heith .3s;
    transition-timing-function: ease;
}
#imagem{
    background: #5f2c82 url(../imagem/pexels-steve-29488853.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}
#formulario{
    padding: 10px;
    display: block;
}